ion-toolbar {
  --background: none !important;
  background-color: transparent;

}

ion-content {
  --background: none !important;
  background-color: white;
  // background: linear-gradient(180deg, #696969, #e3e3e3, #696969);
  // background-size: 600% 600%;

  // -webkit-animation: AnimationName 48s ease infinite;
  // -moz-animation: AnimationName 48s ease infinite;
  // animation: AnimationName 48s ease infinite;

  // .css-selector {
    // background: linear-gradient(178deg, #ffffff, #7ec1aa);
    // background-size: 400% 400%;

    // .css-selector {
      background: linear-gradient(180deg, #f0f0f0, #949494);
      background-size: 600% 600%;

      -webkit-animation: AnimationName 30s ease infinite;
      -moz-animation: AnimationName 30s ease infinite;
      animation: AnimationName 30s ease infinite;
  // }

}


.wagmiListItem {
  text-align: justify;
  margin: 2% auto 0 5%;
  width: 80%;
  line-height: 25px;
  --background: none !important;
  background-color: transparent;

}

@-webkit-keyframes AnimationName {
  0%{background-position:50% 0%}
  50%{background-position:50% 100%}
  100%{background-position:50% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:50% 0%}
  50%{background-position:50% 100%}
  100%{background-position:50% 0%}
}
@keyframes AnimationName {
  0%{background-position:50% 0%}
  50%{background-position:50% 100%}
  100%{background-position:50% 0%}
}
