

<ion-content class="freeMint">
  <ion-header class="clearBG">
    <ion-toolbar class="clearBG">
      <ion-buttons slot="start">
        <ion-icon
          class="detailBackIcon"
          (click)="dismiss('none')"
          name="close"
        ></ion-icon>
      </ion-buttons>
      <ion-title style="text-align: center; font-size: 22px"
        >WAGMIBALLZ NFT Mint</ion-title
      >
    </ion-toolbar>
  </ion-header>

  <div>

    <iframe
    src="https://infura-ipfs.io/ipfs/QmQTQPfoJbAPYAbRqNLmm9gfLspXuXq5TVa8LgQEf6vktt/nft-drop.html?contract=0x095e0128a0FF4cc1B26cCe906f2538B130b12dbA&chainId=137"
    width="600px"
    height="600px"
    style="max-width:100%;"
    frameborder="0"
    ></iframe>
  </div>
</ion-content>
