/* body {
  font-family: PressStart2P-Regular;

  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  height: 90%;


  background-color: transparent;


} */

.startMint {
  width: 100%;
  height: 45px;
}

@font-face {
  font-family: PressStart2P-Regular;
  src: url("./PressStart2P-Regular.ttf");
} /* src: url('./PressStart2P-Regular.ttf'); */

#mint {
  margin: 10px;
  /* background: rgba(0, 0, 0, 0.1); */
  /* padding: 5px 10px; */
  text-align: center;
  width: 200px;
  height: 45px;
  margin: auto;
}


.box {
  /* max-width: 60%; */
  text-align: center;
  /* width: 60%; */
}
.box2 {
  /* max-width: 60%; */
  text-align: center;
  width: 52%;
}

.promoGif {
  width: 300px;
}

.box > *,
.minter > * {
  /* display: flex; */
  /* width: 100% !important; */
  /* margin-bottom: 10px; */
  margin: 0px auto 2% auto;
}
.nice-select {
  margin-bottom: 10px;
  color: black;
  font-size: 10px;
  margin-top: 10px;
}
.nice-select-dropdown {
  width: 100%;
}
button {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  border: none;
}
.container {
  max-width: 800px;
  margin: 50px auto;
}
a {
  color: royalblue;
  text-decoration: none;
  display: block;
}
.label {
  font-size: 18px;
  font-weight: bold;
  margin-top: 15px;
}
h1 {
  margin: 0;
  font-size: 17px;
  box-sizing: border-box;
  letter-spacing: -1px;
}
h1 a {
  color: white;
}
.invite {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  text-align: left;
  color: white;
  font-size: 16px;
}
.invites a {
  color: white;
}
.invites {
}
table {
  width: 60%;
  table-layout: fixed;
  overflow-wrap: break-word;
  display: table !important;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
td,
th {
  padding: 5px;
  font-size: 14px;
  text-align: center;
}
th {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
tr {
  width: 100%;
  /* border-bottom: 1px solid white; */
}
.btn {
  /* background: rgba(0, 0, 0, 0.1); */
  /* padding: 5px 10px; */
  text-align: center;
  width: 160px;
  height: 45px;
  margin: 10px auto 10px auto;
}
.hidden {
  display: none !important;
}
.loading {
  padding: 20px;
  box-sizing: border-box;
  font-size: 15px;
  background: rgba(255, 255, 255, 0.1);
  margin-top: 20px;
  border-radius: 50px;
}
tr img {
  height: 20px;
}
tr a {
  color: white;
}
.token {
  background: rgba(0, 0, 0, 0.3);
  padding: 5px;
  text-align: center;
  font-size: 12px;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 53% 0%;
  }
  50% {
    background-position: 48% 100%;
  }
  100% {
    background-position: 53% 0%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 53% 0%;
  }
  50% {
    background-position: 48% 100%;
  }
  100% {
    background-position: 53% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 53% 0%;
  }
  50% {
    background-position: 48% 100%;
  }
  100% {
    background-position: 53% 0%;
  }
}
