<ion-content [fullscreen]="true">
  <ion-refresher
    id="refresher"
    slot="fixed"
    (ionRefresh)="doRefresh($event)"
    style="background-color: black; display: none"
  >
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      refreshingText="Refreshing..."
    >
    </ion-refresher-content>
  </ion-refresher>

  <ion-toolbar class="navBar fillOutline">
    <ion-list
      class="navBar fillOutline"
      lines="none"
    >
      <ion-item
        class="socialBanner"
        *ngFor="let item of menuItems"
        lines="none"
      >
        <a
          class="socialAnchor"
          href="{{item.src}}"
          target="_blank"
          title="{{item.title}}"
        >
          <img class="linkIcon" src="{{item.icon}}" alt="{{item.alt}}" />
        </a>
      </ion-item>
    </ion-list>
  </ion-toolbar>

  <div class="fillOutline" lines="none">
    <!-- Paddlez NFT -->
    <img class="sugar" src="../../assets/icon/p1.gif" alt="" />

    <article style="margin: auto 10px auto 10px">
      <img class="banner" src="../../assets/banner.png" alt="" />
    </article>

    <img class="sugar" src="../../assets/icon/p2.gif" alt="" />
  </div>

  <div class="wagmiItem" lines="none">
    <!-- <div> -->
    <img
      class="promoGif"
      src="../assets/WAGMIBALLZ_PROMO.gif"
      alt=""
    />

    <!-- </div> -->

    <section class="infoSection">
      <p style="text-align: justify; line-height: 22px">
        WAGMIBALLZ NFT is a collection of 919 programmatically generated gifs
        using GIMP, python, & Noelle Leigh's <a href="https://animated-pixel-gradients.glitch.me/">Animated Pixel Gradient generator.</a>
      </p>
      <p style="text-align: justify; line-height: 22px">
        The original 137 were hand crafted & created in the polygon blockchain. After getting lazy, the process
        was automated and the result was the 782 WAGMIBALLZ that we're minted into the ETH blockchain.
      </p>
      <p style="text-align: left">Utilities</p>
      <ul style="text-align: left; font-size: 10px">
        <li>Sprite for Paddlez Web3 Game</li>
        <li>Allow List Token for next Afrotonder collection</li>
        <li>CC0 art free for you to use</li>
      </ul>
    </section>
  </div>

  <div class="box">
    <div
      style="
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
      "
    >
      <section style="width: 100%; margin: 0 auto 0 auto">
        <div>
          <section style="display: flex; justify-content: center">
            <p class="collectionInfo">ETH Mint Price:</p>
            <!-- <p style="width: 100px">{{eth}} ETH</p> -->
            <p class="collectionInfo" style="margin-left: 5px">0 ETH</p>
          </section>
          <section style="display: flex; justify-content: center">
            <p class="collectionInfo">Poly Mint Price:</p>
            <!-- <p style="width: 100px">{{eth}} ETH</p> -->
            <p class="collectionInfo" style="margin-left: 5px">7 MATIC</p>
          </section>
          <section
            *ngIf="connected"
            style="display: flex; justify-content: center"
          >
            <p>Mint Limit:</p>
            <p style="margin-left: 10px">{{limit}}</p>
          </section>

          <section *ngIf="minting" style="display: flex; justify-content: center">
            <p>Supply:</p>

            <p style="width: 100px">{{currentSupply}}</p>

          </section>
        </div>

        <div style="display: flex; justify-content: center; flex-direction: column;">
          <ion-button
          (click)="selectMintNetwork('eth')"
          *ngIf="!connected&&!ethMint&&!polyMint"
          shape="round"
          fill="outline"
          class="mintEth"
        >
        Mint Eth Collection
          </ion-button>

          <ion-button
          (click)="selectMintNetwork('poly')"
          *ngIf="!connected&&!ethMint&&!polyMint"
          shape="round"
          fill="outline"
          class="mintPolygon"
        >
          Mint Polygon Collection
          </ion-button>
        </div>
        <!-- connect to thirdweb mint -->
        <ion-button
        (click)="openThirdWebModal()"
        *ngIf="!connected&&polyMint"
        shape="round"
        fill="outline"
        style="font-size: 11px; color: black; margin-top: 10px"
      >
        Connect Wallet to Polygon
      </ion-button>
        <!-- connect to metamask for ETH mint -->
        <ion-button
          (click)="connectWallet()"
          *ngIf="!connected&&ethMint"
          shape="round"
          fill="outline"
          style="font-size: 11px; color: black; margin-top: 10px"
        >
          {{connectButtonLabel}}
        </ion-button>
        <!-- init ETH mint  -->
        <ion-button
          shape="round"
          fill="outline"
          style="font-size: 11px; color: black"
          *ngIf="!minting&&connected"
          class="btn"
          (click)="switchToMint()"
        >
          Mint
        </ion-button>
      </section>
      <!-- ETH mint selection -->
      <ion-item
        lines="none"
        class="minter clearBG"
        style="width: 50%; margin: auto"
        *ngIf="minting"
      >
        <ion-select
          class="clearBG"
          id="count"
          [(ngModel)]="userTokenMintCount"
          submitText="Select"
          cancelText="Cancel"
          placeholder="Select Amount"
          (ionChange)="selectSupply()"
        >
          <ion-select-option value="" selected disabled hidden
            >Mint count</ion-select-option
          >
          <ion-select-option
            *ngFor="let count of mintingItems"
            value="{{count}}"
          >
            {{count}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <ion-button
      shape="round"
      fill="outline"
      style="font-size: 11px; color: black; margin: 10px"
      *ngIf="userTokenMintCount>0&&notMinting"
      (click)="beginMint()"
      id="mint"
    >
      Mint {{userTokenMintCount}} Tokens
    </ion-button>

    <ion-button
    shape="round"
    fill="outline"
    style="
      font-size: 11px;
      color: white;
      margin: 10px;
      border-radius: 20px;
      border: 2px solid white;
    "
    *ngIf="userTokenMintCount>0&&!notMinting"
    disabled
  >
    Minting...
  </ion-button>

  </div>

  <!-- <div>
    <iframe
    src="https://gateway.ipfscdn.io/ipfs/Qma17oTrNVQqPTg8v3E5UvHYFbXjbgeqHCocDZtPyUopLX/drop.html?contract=0xa3b706970412De4aBB22645F2AbD6c74119B1D17&chainId=137"
    width="600px"
    height="600px"
    style="max-width:100%; margin: auto; display: flex;"
    frameborder="0"
    ></iframe>
  </div> -->

  <div style="margin-top: 20px;" *ngIf="tokens.length>1">
    <p style="margin:0 auto 10px auto; width: 60%; text-align: center;">
     Ready to play Paddlez with your freshly minted NFTs?
    </p>

    <ion-button shape="round"
    fill="outline"
     target="_blank"
     class="playPaddlez" href="https://paddlez-1b260.web.app/">
      Play Paddlez
    </ion-button>

  </div>
  <ion-item id="doneMinting" class="clearBG" style="--background: none; background-color: transparent; margin-bottom: 20px;" class="console" *ngIf="tokens.length>=1">


    <table class="table">
      <tr>
        <th><img src="../../assets/opensea.png" /></th>
        <th><img src="../../assets/rarible.png" /></th>
      </tr>
      <!-- {{#each items}} -->
      <tr *ngFor="let token of tokens">
        <td>
          <a class="token" target="_blank" href="{{token.opensea}}"
            >token #{{token.tokenId}}</a
          >
        </td>
        <td>
          <a class="token" target="_blank" href="{{token.rarible}}"
            >token #{{token.tokenId}}</a
          >
        </td>
      </tr>
      <!-- {{/each}} -->
    </table>
  </ion-item>

  <!-- WORKING IFRAME WITH WEB3 STUFF -->
  <!-- <div style="text-align: center">
    <ion-spinner
      style="margin-top: 85px;"
      name="crescent"
      *ngIf="showSpinner"
    ></ion-spinner>
    <iframe scrolling="no" style="width:100%; height:185px; margin-bottom: 25px;" src="../../assets/index.html" frameborder="0"></iframe>

  </div> -->
  <div class="mobileFooter">
    <div class="footer">Afrotonder ⚡ {{year}}</div>
  </div>
</ion-content>
<ion-footer class="mainFooter ion-no-border">
  <div class="footer">Afrotonder ⚡ {{year}}</div>
</ion-footer>
