<ion-content [fullscreen]="true">
  <ion-refresher id="refresher" slot="fixed" (ionRefresh)="doRefresh($event)" style="background-color: black; display: none;">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" refreshingText="Refreshing..." >
    </ion-refresher-content>
  </ion-refresher>

  <ion-toolbar  class="navBar fillOutline">
    <ion-list style="justify-content: right;" class="navBar fillOutline" lines="none">
      <ion-item class="socialBanner" *ngFor="let item of menuItems" lines="none">
        <a
          class="socialAnchor"
          href="{{item.src}}"
          target="_blank"
          title="{{item.title}}"
        >
          <img class="linkIcon" src="{{item.icon}}" alt="{{item.alt}}" />
        </a>
      </ion-item>
      <ion-item class="socialBanner" lines="none">
        <ion-icon class="contract" name="aperture-outline"></ion-icon>
      </ion-item>
    </ion-list>
    <ion-buttons slot="end">
      <ion-button (click)="connectWallet()" shape="round" fill="outline" style="font-size: 11px; color: black;">
        {{connectButtonLabel}}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>


  <div class="fillOutline" lines="none">
    <!-- Paddlez NFT -->
    <img class="sugar" src="../../assets/icon/p1.gif" alt="" />

    <article style="margin: auto 10px auto 10px;">
      <img class="banner" src="../../assets/banner.png" alt="" />
    </article>

    <img class="sugar" src="../../assets/icon/p2.gif" alt="" />

  </div>

  <div class="wagmiItem" lines="none">
    <!-- <div> -->
    <img
      style="width: 300px; height: 300px; margin: auto"
      class="promoGif"
      src="../assets/WAGMIBALLZ_PROMO.gif"
      alt=""
    />

    <!-- </div> -->

    <section class="infoSection">
      <p style="text-align: justify; line-height: 22px">
        WAGMIBALLZ NFT is a collection of 919 programatically generated gifs
        using GIMP, python, & Noelle Leigh's Animated Pixel Gradient generator.
      </p>

      <p style="text-align: left">Utilities</p>
      <ul style="text-align: left; font-size: 10px">
        <li>Sprite for Paddlez Web3 Game</li>
        <li>Allow List Token for next Afrotonder collection</li>
        <li>CC0 art free for you to use</li>
      </ul>
    </section>
  </div>

  <div class="box">
    <div style="display: flex; justify-content: space-evenly; flex-direction: column;">
      <section style="width: 100%; margin: 0 auto 20px auto">
        <div style="text-align: right">
          <section style="display: flex; justify-content: center">
            <p>Price:</p>
            <!-- <p style="width: 100px">{{eth}} ETH</p> -->
            <p style="width: 100px">0 ETH</p>

          </section>
          <section style="display: flex; justify-content: center">
            <p>Mint Limit:</p>
            <p style="width: 25px">{{limit}}</p>
          </section>
        </div>
        <ion-button
          *ngIf="!minting"
          class="btn"
          (click)="switchToMint()"
        >
          Mint
        </ion-button>
        <!-- <a class='btn' href="mint.html#address={{address}}&key={{key}}">
            <button class="startMint">
              Mint
            </button>

    </a> -->
      </section>
      <ion-item lines="none" class="minter clearBG" style="width: 50%;margin: auto;" *ngIf="minting">
        <!-- <div > -->
        <!-- <select id="count" [(ngModel)]="userTokenMintCount">
            <option value="" selected disabled hidden>Select mint count</option>
            <option *ngFor="let count of mintingItems" value="{{count}}">
              {{count}}
            </option>
          </select> -->

        <ion-select
        class="clearBG"
          id="count"
          [(ngModel)]="userTokenMintCount"
          submitText="Select"
          cancelText="Cancelar"
          placeholder="Select Amount"
        >
          <ion-select-option value="" selected disabled hidden
            >Mint count</ion-select-option
          >
          <ion-select-option *ngFor="let count of mintingItems" value="{{count}}">
            {{count}}
          </ion-select-option>
        </ion-select>

        <!-- </div> -->
      </ion-item>
    </div>



    <button
      *ngIf="userTokenMintCount>0"
      (click)="beginMint()"
      style="margin: 10px"
      id="mint"
    >
      Mint {{userTokenMintCount}} Tokens
    </button>
  </div>

  <!-- <div>
    <iframe
    src="https://gateway.ipfscdn.io/ipfs/Qma17oTrNVQqPTg8v3E5UvHYFbXjbgeqHCocDZtPyUopLX/drop.html?contract=0xa3b706970412De4aBB22645F2AbD6c74119B1D17&chainId=137"
    width="600px"
    height="600px"
    style="max-width:100%; margin: auto; display: flex;"
    frameborder="0"
    ></iframe>
  </div> -->

  <ion-item class="console" *ngIf="tokens.length>1">
    <table class="table">
      <tr>
        <th><img src="../../assets/opensea.png" /></th>
        <th><img src="../../assets/rarible.png" /></th>
      </tr>
      <!-- {{#each items}} -->
      <tr *ngFor="let token of tokens">
        <td>
          <a class="token" target="_blank" href="{{token.opensea}}"
            >token #{{token.tokenId}}</a
          >
        </td>
        <td>
          <a class="token" target="_blank" href="{{token.rarible}}"
            >token #{{token.tokenId}}</a
          >
        </td>
      </tr>
      <!-- {{/each}} -->
    </table>
  </ion-item>

  <!-- WORKING IFRAME WITH WEB3 STUFF -->
  <!-- <div style="text-align: center">
    <ion-spinner
      style="margin-top: 85px;"
      name="crescent"
      *ngIf="showSpinner"
    ></ion-spinner>
    <iframe scrolling="no" style="width:100%; height:185px; margin-bottom: 25px;" src="../../assets/index.html" frameborder="0"></iframe>

  </div> -->


</ion-content>
<ion-footer class="ion-no-border">
  <div id="footer"
  class="ion-no-border"
>
  Afrotonder ⚡ {{year}}
</div>
</ion-footer>
